.column {
  width: 50%;
}
.box {
  display: flex;
  justify-content: space-evenly;
  margin-right: 0.5em;
  margin-left: 0.5em;
}
.title {
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
  margin-bottom: 1em;
}
.wrench {
  transform: rotate(0.375turn);
}
.foot {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 15px;
}
.image-gallery-slides {
  max-height: 325px !important;
  .image-gallery-slide {
    max-height: 325px !important;
  }
  .image-gallery-image {
    max-height: 325px !important;
  }
}
.gallery-container {
  display: flex;
  justify-content: center;
}
.strava-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container {
  display: flex;
  margin-bottom: 1em;
  justify-content: space-evenly;
}
.icon-container {
  display: flex;
  opacity: 0.6;
  justify-content: space-evenly;
  min-width: 190px;
  align-items: center;
}
.toolbar {
  margin: 0;
  padding: 0;
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
}
.footer-typography {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skills-grid {
  padding: 10px 0;
  background: rgb(243, 243, 244);
  background: linear-gradient(
    90deg,
    rgba(243, 243, 244, 0.819765406162465) 0%,
    rgba(255, 255, 255, 0.8645833333333334) 50%,
    rgba(243, 243, 244, 0.82) 100%
  );
  border-radius: 10px;
}
.d-flex {
  display: flex;
}
.j-center {
  justify-content: center;
}
.pad-15 {
  padding: 15px;
}
.image-gallery-bullet {
  padding: 8px !important;
  &:hover {
    background: #f2453d !important;
    border: 1px solid #f2453d !important;
  }
}

@media (max-width: 700px) {
  .box {
    display: block;
    margin-left: 0.25em;
    margin-right: 0.25em;
  }
  .column {
    width: 100%;
  }
  .top {
    width: 100vw;
  }
}
